.main{
  background-color: whitesmoke;
}
.booking-container {
  max-width: 800px;
  margin: 100px auto;
  padding: 30px;
  border: 1px solid #ddd;
  border-radius: 12px;
  background-color: #fff8f5;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  
}

.booking-container h2 {
  color: #b22222;
  margin-bottom: 25px;
  font-size: 26px;
  font-weight: bold;
}

.input-wrapper {
  position: relative;
  margin: 16px 0;
}



.input-wrapper input {
  width: 100%;
  padding: 12px 12px 12px 40px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  background-color: #f8f8f8;
  transition: border 0.2s;
  box-sizing: border-box;
}

.input-wrapper input:focus {
  border-color: #b22222;
  outline: none;
  background-color: #fff;
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  font-size: 18px;
  color: #b22222;
}
html {
  scroll-behavior: smooth;
}

.booking-container button {
  width: 100%;
  padding: 12px; 
  border: none;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
  transition: background 0.5s;
}

.booking-message {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 6px;
  font-size: 16px;
}

.booking-message.error {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}

.booking-message.success {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}

.shake {
  animation: shake 0.4s ease;
}

@keyframes shake {
  0% { transform: translateX(0px); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0px); }
}
